//- mixin modal_wrapper(run)
//-   - const attrs = run.tooltip ? {'data-toggle': 'tooltip', title: run.tooltip} : {};
//-   button.btn.btn-link.modal-button(type='button' data-bs-toggle='modal' data-bs-target=`#modal-${run.id}`)&attributes(attrs)
//-     block
//-   .modal.fade(tabindex='-1' role='dialog' id=`modal-${run.id}` aria-labelledby=`modal-label-${run.id}` aria-hidden='true')
//-     .modal-dialog.modal-lg(role='document')
//-       .modal-content
//-         .modal-body
//-           pre= run.modal
//-         .modal-footer
//-           button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close

//- mixin tooltip_wrapper(run)
//-   if run.tooltip
//-     span.d-inline-block(tabindex='0' data-toggle='tooltip' title=run.tooltip)
//-       block
//-   else
//-     block

mixin error_message(obj)
  - const errorStr = JSON.stringify(obj, null, 2)
  .alert.alert-danger(role="alert")
    b Error:
    pre= errorStr

mixin tree_entries(entries)
  ul
    each entry in entries
      li
        if entry.type == 'dir'
          div= entry.name
          +tree_entries(entry.entries)
        else
          a(href='/?p='+entry.path)= entry.name


doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title mdnotes
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css')
    style.
      .modal-lg, .modal-xl {
        width: 80vw !important;
        max-width: 1400px !important;
      }
      .modal-button {
        vertical-align: top !important;
        padding: 0 !important;
        border: 0 !important;
      }
      ol, ul {
        padding-left: 1.1rem;
      }
  body
    .container(style={ 'min-height': '95vh' })
      .row
        .col-sm-1
        .col-sm-3.pt-3
          h1.mb-4 mdnotes
          +tree_entries(tree)
        .col-sm-6.pt-4
          if content
            if content.error
              +error_message(content.error)
            #md-text(style={ display: 'none' })= content.result
            #md-render
        .col-sm-2

    .container.mb-4
      .row
        .col-sm-1
        .col-sm-3.pt-3
          small
            a(href='https://github.com/showdownjs/showdown/wiki/Emojis') emojis
            |  • 
            a(href='https://github.github.com/gfm/') flavored markdown

    script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
    script(src='https://code.jquery.com/ui/1.13.1/jquery-ui.min.js' integrity='sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/showdown@2.0.0/dist/showdown.min.js')
    script(src='https://cdn.jsdelivr.net/npm/showdown-github@1.0.0/dist/showdown-github.min.js')

    script.
      window.addEventListener('load', () => {
        $('[data-toggle="tooltip"]').tooltip();

        window.mdConverter = new showdown.Converter({
          extensions: ['github'],
          emoji: true,
          simpleLineBreaks: true,
          tables: true,
          parseImgDimensions: true,
          headerLevelStart: 2,
        });
        mdConverter.setFlavor('github');
        const mdText = $('#md-text').text();
        if (mdText) {
          $('#md-render').html(mdConverter.makeHtml(mdText));
        }
      });
