
mixin error_message(obj)
  - const errorStr = JSON.stringify(obj, null, 2)
  .alert.alert-danger(role="alert")
    b Error:
    pre= errorStr

mixin tree_entries(entries)
  ul.tree
    each entry in entries
      li
        if entry.type == 'dir'
          .d-flex.justify-content-between.dir-tree
            .d-flex
              i.bi.bi-folder.mr-1
              div= entry.name
            .d-flex
              a.btn.btn-link.ml-3.btn-tree.add-dir-tree(tabindex="0" role="button" data-toggle="popover" data-trigger="click" title="add directory" data-content="" mdnotes-path=entry.path)
                i.bi.bi-folder-plus
              a.btn.btn-link.ml-1.btn-tree.add-file-tree(tabindex="0" role="button" data-toggle="popover" data-trigger="click" title="add file" data-content="" mdnotes-path=entry.path)
                i.bi.bi-file-earmark-plus
          +tree_entries(entry.entries)
        else
          div
            i.bi.bi-markdown.mr-1
            a.d-inline(href='/?p='+entry.path)= entry.name
          

mixin error_container()
  #errors

//- mixin modal_wrapper(run)
//-   - const attrs = run.tooltip ? {'data-toggle': 'tooltip', title: run.tooltip} : {};
//-   button.btn.btn-link.modal-button(type='button' data-bs-toggle='modal' data-bs-target=`#modal-${run.id}`)&attributes(attrs)
//-     block
//-   .modal.fade(tabindex='-1' role='dialog' id=`modal-${run.id}` aria-labelledby=`modal-label-${run.id}` aria-hidden='true')
//-     .modal-dialog.modal-lg(role='document')
//-       .modal-content
//-         .modal-body
//-           pre= run.modal
//-         .modal-footer
//-           button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close

//- mixin tooltip_wrapper(run)
//-   if run.tooltip
//-     span.d-inline-block(tabindex='0' data-toggle='tooltip' title=run.tooltip)
//-       block
//-   else
//-     block

